*.obj
*.pdb
*.userhttps://github.com/jfsparkfish/Listify
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
AzureBuild
[Dd]ebug*/
*Build
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
*.zip
/packages
